nav {
    background-color: white;
}

img {
    width: 100px;
    padding: 1rem;
    /* display: inline-block; */
    float: left;
    object-fit: cover;
}

i.fas.fa-bars {
    padding: 1rem;
    color: #525659;
    margin-left: 11rem;
    display: inline-grid;
    position: absolute
}


