<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/theme.css">
    <link rel="stylesheet" href="../CSS/style.css" />
  
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
    <title>Tvastra</title>

</head>

<body>

    <header>
        <nav>
            <div class="header-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="no_logo_image_found">
            </div>

           
            <div class="desktop-header desktop-header-links">
                <a href="">Doctors</a>
                <a href="">Hospitals</a>
                <a href="">Treatment</a>
                <a href="">Other services</a>
                <a href="">About</a>
            </div>
            <div class="desktop-header desktop-header-buttons">
                <button class="primary-button">Login/Sign Up</button>
                <button class="secondary-button">Get A Quote</button>
            </div>


            <div class="header-icon">
                <i class="fas fa-bars"></i>
            </div>

        </nav>
    </header>

    <section class="affordable-health">
        <div class="afford-container">
            <div class="head-afford">
                <h1>Find affordable healthcare</h1>
            </div>
            <div class="para-afford">
                <p>Join the thousands of others who have exercised their right to quality healthcare at a price you can
                    afford.</p>
            </div>
            <div class="form-afford">
                <form action="">
                    <input type="text" name="" id="" placeholder="Ahmedabad">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="gps-icon">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/gps.png"
                            alt="no_gps_icon_found">
                    </div>
                    <input type="search" name="" id="" placeholder="Serach for Doctor,hospitals and treatments">
                    <button>Search</button>
                </form>
            </div>
        </div>
    </section>

    <i class="fa fa-question-circle"></i>
</body>

</html>