<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra</title>
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/theme.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
</head>

<body>
    <header>
        <div class="navigation-container">
            <div class="header-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="no_logo_image_found">
            </div>
            <div class="header-icon">
                <i class="fas fa-bars"></i>
            </div>

            <div class="desktop-header-list">
                <ul>
                    <li><a href="">Doctors</a></li>
                    <li><a href="">Hospitals</a></li>
                    <li><a href="">Treatment</a></li>
                    <li><a href="">Other Services</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>

            <div class="desktop-header-button">
                <button class="secondary-button secondary-button-margin">Login/Sign Up</button>
                <button class="primary-button">Get A Quote</button>
            </div>
        </div>
    </header>

    <section class="affordable-health-section">
        <div class="affordable-health-div">
            <div class="affordable-health-heading">
                <h1>Find Affordable Healthcare</h1>
            </div>
            <div class="affordable-health-paragraph common-para-class">
                <p>Join the thousands of others who have exercised their right to quality healthcare at a price you can
                    afford.</p>
            </div>
            <div class="affordable-health-form">
                <form action="" class="affordable-form">
                    <div class="icon-wrap">
                        <i class="fas fa-map-marker-alt"></i>
                        <input type="text" placeholder="Ahmedabad" class="location">
                    </div>
                    <div class="gps-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/gps.png"
                            alt="no_gps_image_found">
                    </div>
                    <input type="text" placeholder="Search for Doctors,hospitals and treatments" class="input-search" />
                    <div class="affordable-health-button">
                        <button class="primary-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="how-it-works-section">
        <div class="how-it-works-container">
            <div class="how-it-works-heading">
                <h2>How it works</h2>
            </div>
            <div class="how-it-works-paragraph common-para-class">
                <p>Various facilities are provided here.But there is a protocol which needs to be followed so that you
                    get the service at its best.</p>
            </div>
            <div class="how-it-works-button">
                <div class="another">
                    <button class="common-how-it-work-class active-btn-1" onclick="show1()">
                        <span class="number active-number-1">01</span>
                        <span class="text active-text-1">Fix Consultation</span>
                    </button>
                </div>
                <div class="another-1">
                    <div class="how-it-works-img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt=""
                            class="img-container-img">
                        <div class="text-img-container common-para-class">
                            <h4>Fix Consultation</h4>
                            <p>This depicts that user have to fix appointment first when it selects a particular doctor
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="how-it-works-button">
                <div class="another">
                    <button onclick="show2()" class="common-how-it-work-class">
                        <span class="number">02</span>
                        <span class="text">Upload Medical Reports</span>
                    </button>
                </div>
                <div class="another-1">
                    <div class="how-it-works-img-container hide-img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png" alt=""
                            class="img-container-img">
                        <div class="text-img-container common-para-class">
                            <h4>Upload Medical Reports</h4>
                            <p>This depicts that user have to fix appointment first when it selects a particular doctor
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="how-it-works-button">
                <div class="another">
                    <button onclick="show3()" class="common-how-it-work-class">
                        <span class="number">03</span>
                        <span class="text">Consult with doctor</span>
                    </button>
                </div>

                <div class="another-1">
                    <div class="how-it-works-img-container hide-img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg" alt=""
                            class="img-container-img">
                        <div class="text-img-container common-para-class">
                            <h4>Consult with doctor</h4>
                            <p>This depicts that user have to fix appointment first when it selects a particular doctor
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="how-it-works-button">
                <div class="another">
                    <button onclick="show4()" class="common-how-it-work-class">
                        <span class="number">04</span>
                        <span class="text">Fix Surgery</span>
                    </button>
                </div>
                <div class="another-1">
                    <div class="how-it-works-img-container hide-img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg" alt=""
                            class="img-container-img">
                        <div class="text-img-container common-para-class">
                            <h4>Fix Surgery</h4>
                            <p>This depicts that user have to fix appointment first when it selects a particular doctor
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="how-it-works-button">
                <div class="another">
                    <button onclick="show5()" class="common-how-it-work-class">
                        <span class="number">05</span>
                        <span class="text">Hospital sent estimates</span>
                    </button>
                </div>
                <div class="another-1">
                    <div class="how-it-works-img-container hide-img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg" alt=""
                            class="img-container-img">
                        <div class="text-img-container common-para-class">
                            <h4>Hospital sent estimates</h4>
                            <p>This depicts that user have to fix appointment first when it selects a particular doctor
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="how-it-works-button">
                <div class="another">
                    <button onclick="show6()" class="common-how-it-work-class">
                        <span class="number">06</span>
                        <span class="text">Payment</span>
                    </button>
                </div>
                <div class="another-1">
                    <div class="how-it-works-img-container hide-img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg" alt=""
                            class="img-container-img">
                        <div class="text-img-container common-para-class">
                            <h4>Payment</h4>
                            <p>This depicts that user have to fix appointment first when it selects a particular doctor
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="how-it-works-button works-button-last">
                <div class="another">
                    <button onclick="show7()" class="common-how-it-work-class">
                        <span class="number">07</span>
                        <span class="text">Surgery Completed</span>
                    </button>
                </div>
                <div class="another-1">
                    <div class="how-it-works-img-container hide-img-container">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg" alt=""
                            class="img-container-img">
                        <div class="text-img-container common-para-class">
                            <h4>Surgery Completed</h4>
                            <p>This depicts that user have to fix appointment first when it selects a particular doctor
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="expert-doctors-section">
        <div class="expert-doctors-div">
            <div class="expert-doctor-heading">
                <h4>World Class Expert Doctors!</h4>
            </div>
            <div class="expert-doctors-paragraph common-para-class">
                <p>The university of Texas Southeastern Medical center has been a long world-reowned research hospital.
                    But until the '80s.you couuldn't go there. Now, with the addition of Astron Center and Zale Lipshy
                    Hospital, UT Southeastern is also a mecca for patients.</p>
            </div>
            <div class="expert-doctors-all">
                <div class="expert-doctor">
                    <div class="expert-doctors-image-div">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"
                            alt="">
                    </div>
                    <div class="expert">
                        <div class="expert-doctor-img-outside-div">
                            <h6>Duke Sanson</h6>
                            <ul class="expert-doctor-ul">
                                <li>Neuro Surgeon</li>
                                <li>Chain Department of Neurological Surgery</li>
                                <li>Australia</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="expert-doctor">
                    <div class="expert-doctors-image-div">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"
                            alt="">
                    </div>
                    <div class="expert-doctor-img-outside-div">
                        <h6>Georgia Peter</h6>
                        <ul class="expert-doctor-ul">
                            <li>Breast Cancer Surgeon</li>
                            <li>Director . UT . Southwest</li>
                            <li>London</li>
                        </ul>
                    </div>
                </div>
                <div class="expert-doctor">
                    <div class="expert-doctors-image-div">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"
                            alt="">
                    </div>
                    <div class="expert-doctor-img-outside-div">
                        <h6>Duke Sanson</h6>
                        <ul class="expert-doctor-ul">
                            <li>Charlie Moon</li>
                            <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                            <li>New Delhi, India</li>
                        </ul>
                    </div>
                </div>

                <div class="expert-doctor">
                    <div class="expert-doctors-image-div">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"
                            alt="">
                    </div>
                    <div class="expert-doctor-img-outside-div">
                        <h6>Rose Moon</h6>
                        <ul class="expert-doctor-ul">
                            <li>Plastic Surgeon</li>
                            <li>Department of Plastic and Reconstructive Surgery</li>
                            <li>Dubai</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="medical-treatment-section">
        <div class="medical-treatment-div">
            <div class="medical-treatment-heading">
                <h4>Featured Medical Treatment</h4>
            </div>
            <div class="medical-treatment-pargraph common-para-class">
                <p>Join the thousands of others who have exercised their right to quality healthcare at a price you can
                    afford.</p>
            </div>

            <div class="align">
                <div class="container">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"
                        alt="Dentistry_image_not_found">
                    <div class="inside-image-div">
                        <div class="bottom-left">Dentistry</div>
                        <div class="bottom-left-1">50+ specialist</div>
                    </div>

                </div>

                <div class="container">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                    <div class="inside-image-div">
                        <div class="bottom-left">Cancer</div>
                        <div class="bottom-left-1">50+ specialist</div>
                    </div>

                </div>


                <div class="container">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                    <div class="inside-image-div">
                        <div class="bottom-left">Cardiologic Treatment</div>
                        <div class="bottom-left-1">50+ specialist</div>
                    </div>
                </div>

                <div class="container">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                    <div class="inside-image-div">
                        <div class="bottom-left">Multi Organ Transplant</div>
                        <div class="bottom-left-1">50+ specialist</div>
                    </div>
                </div>

                <div class="container">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                    <div class="inside-image-div">
                        <div class="bottom-left">Orthopedics Surgery</div>
                        <div class="bottom-left-1">50+ specialist</div>
                    </div>
                </div>

                <div class="container">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="">
                    <div class="inside-image-div">
                        <div class="bottom-left">Infertility Treatment</div>
                        <div class="bottom-left-1">50+ specialist</div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script src="../Js/button.js"></script>
</body>

</html>