<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/theme.css" />
    <link rel="stylesheet" href="../CSS/login.css" />
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
    <title>Login</title>
</head>

<body>
    <!-- <div class="header-container"> -->
    <header>
        <div class="navigation-container">
            <div class="header-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="no_logo_image_found">
            </div>
            <div class="header-icon">
                <i class="fas fa-bars"></i>
            </div>

            <div class="desktop-header-list">
                <ul>
                    <li><a href="">Doctors</a></li>
                    <li><a href="">Hospitals</a></li>
                    <li><a href="">Treatment</a></li>
                    <li><a href="">Other Services</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>

            <div class="desktop-header-button">
                <button class="secondary-button secondary-button-margin common-border-radius-btn">Login/Sign Up</button>
                <button class="primary-button common-border-radius-btn">Get A Quote</button>
            </div>

        </div>
    </header>
    <!-- </div> -->


    <section class="login-container">
        <div class="login-form">
            <h3>Login</h3>
            <form action="" class="login-form-container">
                <div class="icon-wrap">
                    <i class="fa fa-question-circle"></i>
                </div>

                <input type="text" placeholder="Enter Mobile Number" id="icon-circle"/>
                <input type="text" placeholder="Enter OTP" />
                <div class="icon-wrap">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <input type="button" value="LOGIN">
            </form>
            <div class="not-register">
                <h6>Not Registered?</h6>
                <a href="../Views/SignUp.html">Sign Up</a>
            </div>
        </div>
    </section>

    <section class="footer-login">
        <h6>All rights reserved <span>&#169;</span>Tvastra 2020</h6>
    </section>
</body>

</html>
