<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/theme.css" />
    <link rel="stylesheet" href="../CSS/login.css" />
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <header>
        <nav>
            <div class="header-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="no_logo_image_found">
            </div>
            <div class="header-icon">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>

    <section class="login-container">
        <div class="login-form">
            <h3>Login</h3>
            <form action="">
                <input type="text" placeholder="Enter Mobile Number" />
                <!-- <i class="fa fa-question-circle" style="font-size: 1.2rem;color: var(--light-grey);position: absolute;left: 17rem;margin: 1rem;"></i> -->
                <i class="fa fa-question-circle"></i>
                <input type="text" placeholder="Enter OTP" />
             
                    <input type="button" value="LOGIN">
                <i class="fas fa-arrow-right"></i>
                <!-- display: flex;
    justify-content: flex-end;
    position: relative;
    right: 0.5rem;
    top: -2.5rem; -->

     
               
            </form>
        </div>
    </section>
  
    

<section class="footer-login">
    <p>All rights reserved</p>
</section>


</body>
</html>