body {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.signup-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: 0.4rem;
}

.signup-container>h3 {
    color: var(--green);
}

.signup-button {
    margin-bottom: 1rem;
}

.already-register {
    display: flex;
    justify-content: center;
}

.already-register>h6 {
    font-size: 1rem;
    cursor: pointer;
}

.already-register>a {
    color: var(--green);
    font-family: BoldFont;
}

@media only screen and (min-width:768px) {
    .signup-form {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
    }
    .signup-container {
        width: 60%;
    }
    .signup-form>p {
        margin-bottom: 1rem;
    }
    .already-register>h6 {
        font-size: 1.2rem;
    }
    .already-register>a {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width:1024px) {
    .signup-container {
        width: 70%;
    }
    .signup-form {
        border-radius: 0.5rem;
    }
}