
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img{
    width: 8rem;
}
.header-icon{
    color: var(--dark-grey);
}

@media only screen and (min-width:768px){
    .header-img{
        width: 10rem;
    }
    .header-icon{
        font-size: 1.5rem;
    }
}


@media only screen and (min-width:1024px){
    .header-img{
        width: 15rem;
    }
}


