<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/theme.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/login.css" />
    <title>Login</title>
</head>
<body>
    <header>
        <div class="head-img">
            <img src="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg" alt=""
                data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                srcset="">
        </div>
        <button class="login-head-btn">Login</button>
    </header>
    
    <section class="login-container">
        <div class="login-form">
            <h3>Login</h3>
            <p>Welcome back!!! Login to access the Horizons</p>
            <form>
                <input type="email" placeholder="Enter email..." />
                <input type="password" placeholder="Enter password..." />
                <button class="login-btn">Login</button>
                <div class="not-register">
                    <h6>not registered? </h6>
                    <a href="./signUp.html">SignUp</a>
                </div>

            </form>

        </div>
    </section>

    <footer>
        <div class="footer-img head-img">
            <img src="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg" alt=""
                data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                srcset="">
        </div>
        <div class="footer-para">
            <p>@2020. all rights reserved</p>
        </div>
    </footer>
</body>
</html>