<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/theme.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/signUp.css" />
    <title>SignUp</title>
</head>

<body>
    <header>
        <div class="head-img">
            <img src="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg" alt=""
                data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                srcset="">
        </div>
        <button class="login-head-btn">Login</button>
    </header>

    <section class="signup-form">
        <div class="signup-container">
            <h3>SignUp</h3>
            <p>create a free account</p>
            <form>
                <input type="text" placeholder="Enter name..." />
                <input type="email" placeholder="Enter email..." />
                <input type="password" placeholder="Enter password..." />
                <button class="signup-button">Sign Up</button>
                <div class="already-register">
                    <h6>Already Registered?</h6>
                    <a href="./login.html">
                    <span>Signin</span>
                    </a>
                </div>
              
            </form>
        </div>
    </section>


    <footer>
        <div class="footer-img head-img">
            <img src="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg" alt=""
                data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/horizons/a1222f83-horizons.svg"
                srcset="">
        </div>
        <div class="footer-para">
            <p>@2020. all rights reserved</p>
        </div>
    </footer>
</body>

</html>